@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.bg-imagem {
    width: 100%;
    padding-top: 42%;
    background: url('../resources/img/background.jpg') no-repeat center;
    background-size: cover;
}

.filtro {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;
}

.tabela {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(32, 32, 32 .7);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
}

th,
td {
    padding: 15px 20px;
    text-align: center;
}

th {
    background-color: #2196F3;
    color: #fafafa;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

tr {
    width: 100%;
    background-color: rgba(238, 238, 238);
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: rgb(250, 250, 250);
}
